@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 
Pilihan font: Quicksand/Poppins untuk judul dan heading, Roboto untuk caption/deskripsi
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*
--background: #f1f1f1;
--dominant: #f57f17;
--text-primary: #351c06;
--text-secondary: #555;
*/

/* Reset CSS (DARI PROGATE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* setiap bagian disarankan menggunakan container agar lebar konten sama */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Style Bagian 1 */
.nav-bar {
  height: 70px;
  width: 100%;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  z-index: 10;
}
.logo {
  float: left;
}
.logo-img {
  height: 50px;
  margin: 10px 25px;
}
.menu-container {
  float: right;
  margin-right: 30px;
}
.menu {
  float: left;
  display: block;
  font-family: Roboto, sans-serif;
  line-height: 70px;
  padding: 0 10px;
  color: #a14b00;
}
.menu:hover {
  background-color: #a14b00;
  color: #f1f1f1;
  line-height: 40px;
  margin-top: 15px;
  border-radius: 8px;
}
.nomor-tlp {
  display: block;
  background-color: #a14b00;
  color: #f1f1f1;
  line-height: 40px;
  float: left;
  padding: 0 15px;
  margin-top: 15px;
  border-radius: 8px;
  margin-left: 5px;  
  border: 2px solid #a14b00;
}
.nomor-tlp:hover {
  background-color: #f1f1f1;
  color: #a14b00;
  border: 2px solid #a14b00;
}
.heading {
  background-image: url(cover-kecil.jpg);
  height: 700px;
  background-size: cover;  
  position: relative;
  clear: both;
  font-family: Poppins, sans-serif;
}
.heading-cptn-big {
  color: #a14b00;
  text-align: left;
  font-size: 40px;
  width: 700px;
  padding: 200px 0 0 20px;
}
.heading-cptn-small {
  padding: 20px 0 0 20px;
  font-family: Roboto, sans-serif;
  width: 600px;
  color: #532700;
}
.btn-container {
  padding-top: 150px;
  text-align: center;
}
.btn {
  display: block;
  width: 220px;
  padding: 10px 0;
  text-align: center;
  border-radius: 8px;
}
.btn-order {
  display: inline-block;
  background-color: #a14b00;
  color: #f1f1f1;
  margin-right: 30px;  
  border: 2px solid #a14b00; 
}
.btn-order:hover {
  background-color: #f1f1f1;
  color: #a14b00;
}
.btn-learn-more {
  display: inline-block;
  background-color: #f1f1f1;
  color: #532700;
  margin-left: 30px;  
  border: 2px solid #f1f1f1;
}
.btn-learn-more:hover {
  background-color: #a14b00;
  color: #f1f1f1;
}
.statistik-wrap {
  height: 100px;
  width: 100%;
  background-color: #a14b00;  
  text-align: center;
}
.statistik {
  float: left;
  display: block;
  width: 33.3333333333333%;
  color: #f1f1f1;
}
.statistik h1 {
  padding-top: 20px;
  font-size: 40px;
}
.statistik p {
  font: 20px;
}


/* Style Bagian 2 */

/* Style Bagian 3 */
.explore-section {
  font-family: 'Roboto', sans-serif;
  color: #555;
  background-color: #f1f1f1;
  padding-bottom: 80px;
}
.explore-section .heading {
  padding: 80px 0;
}
.explore-section h3 {
  font-family: 'Quicksand', sans-serif;
  color: #351c06;
  text-align: center;
  font-size: 36px;
  margin-bottom: 15px;
}
.explore-section .explore-caption {
  text-align: center;
  font-size: 16px;
  width: 70%;
  margin: 0 auto;
  line-height: 1.5;
}
.explore-card-wrapper {
  display: flex;
  padding: 0 1em;
}
.explore-card {
  width: 33.33%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  margin: 0 8px;
  box-shadow: 4px 5px 3px 1px #ccc;
}
.explore-card .card-header{
  width: 100%;
  object-fit: cover;
}
.explore-card img {
  width: 100%;
}
.explore-card .card-body {
  padding: 15px;
}
.explore-card .card-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: #351c06;
  font-weight: 700;
  margin-bottom: 0.4em;
}
.explore-card .card-price {
  color: #f57f17;
  font-size: 24px;
  font-weight: 700;
  margin: 0.5em 0;
  display: inline-block;
}
.explore-card .card-footer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.explore-card .btn {
  padding: 0.75em 1.5em;
  display: inline-block;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.explore-card .btn-order {
  background-color: #f57f17;
  color: #fff;
}
/* Style Bagian 4 */

/* Style Bagian 5 */


/* css untuk tampilan tablet */
@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }
    .explore-card-wrapper {
      flex-wrap: wrap;
      padding: 0 0.5em;
    }
    .explore-card {
      width: 100%;
      margin: 0.8rem 5rem
    }
}

/* css untuk tampilan mobile */
@media screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
    .explore-card-wrapper {
    }
    .explore-card {
      width: 100%;
      margin: 0 15px 15px;
    }
}