@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 
Pilihan font: Quicksand/Poppins untuk judul dan heading, Roboto untuk caption/deskripsi
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* Reset CSS (DARI PROGATE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* setiap bagian disarankan menggunakan container agar lebar konten sama */
.container {
    width: 1140px;
    margin: 0 auto;
}

/* Style Bagian 1 */

/* Style Bagian 2 */

/* Style Bagian 3 */

/* Style Bagian 4 */
.judul-testimoni {
  text-align: center;
  color: #351c06;
  padding-top:30px;
  padding-bottom: 10px;
}

.judul-testimoni h1 {
  max-width: 100%;
  margin-bottom: 0;
  overflow: hidden;
  padding-bottom: 25px;
  font-family: "Poppins", sans-serif;
  color: #351c06;
}

.judul-testimoni .border-testi {
  width: 90%;
  height: 5px;
  background-color: #351c06;
  margin:22px auto;
}

.testimoni {
  width: 90%;
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.testimoni .box-testi {
  position: relative; 
  padding: 10px 10px;
  transition: 0.5s;
  text-align: center;
  background:#f57f17;
  border:solid;
  border-color: #f1f1f1;
  border-width: 4px;
  
}

.testimoni .box-testi:hover {
  background: #f1f1f1;
  border:solid;
  border-color: #f57f17;
  border-width: 4px;
  border-radius: 10% 0;
  transition: 0.5s;
}

.testimoni .box-testi p {
  margin: 20px 0;
  padding:10px;
  transition: 0.5s;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color:#f1f1f1;
}

.testimoni .box-testi span {
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
}

.testimoni .box-testi h3 {
  margin: 15px 0 0 0;
  padding:0;
  font-family: "Roboto", sans-serif;
  transition: 0.5s;
  font-size: 16px;
  font-weight: 700;
  color: #f1f1f1;
  line-height: 22px;
  text-transform: uppercase;
}

.testimoni .box-testi h4 {
  margin: 0;
  padding: 0;
  transition: 0.5s;
  font-size: 15px;
  color:#555;
  line-height: 20px;
  font-family: "Quicksand", sans-serif;

}

.testimoni .box-testi .img-box-testi img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-style: solid;
  border-color:  #f1f1f1;
  border-width: 3px;
}

.testimoni .box-testi:hover p {
  color:#f57f17;
  background-color: #f1f1f1;
  transition: 0.5s;
  font-size: 16px;
 }

.testimoni .box-testi:hover h3 {
  color:#351c06;
  font-size: 18px;
}

.testimoni .box-testi:hover h4 {
  color:#555;
  font-size: 17px;

}
.testimoni .box-testi .img-box-testi:hover img {
  border-color:#351c06;
  width: 120px;
  height: 120px;
  transition: 0.5s;
}

.testi-lain {
  margin: 20px 20px 20px 20px;
  padding: 12px 24px;
  color: #f1f1f1;
  background-color: #351c06;
}

.testi-lain:hover,
.testi-lain:active {
  color:#351c06;
  background-color: #f1f1f1;
  border-style:solid;
  border-color: #351c06;
  border-width: 2px;
}

.judul-faq {
  text-align: center;
  color: #351c06;
  padding-top:20px;
  padding-bottom: 10px;
}

.judul-faq h1 {
  max-width: 100%;
  margin-bottom: 0;
  overflow: hidden;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif;
  color: #351c06;
}

.faq {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-style: solid;
  border-width: 4px;
  border-color: #351c06;
}
.faq-accordian {
  margin: 20px 50px;
}

.faq-accordian-item {
  background-color: #f1f1f1;
  border-radius: 10px 0;
  margin-bottom: 1rem;
  padding: 1rem;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0.5rem 2px 0.5rem rgba(0,0,0,.4);
  border-color: #351c06;
}
.faq-accordian-link {
  margin: 2px;
  font-size: 1.6rem;
  color:rgba(255,255,255,.8);
  text-decoration: none;
  background-color: #f57f17;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-radius: 10px 0px;
}

.faq-accordian-jawaban {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #f1f1f1;
  color: #f1f1f1;
  font-size: 2rem;
  transition: 650ms;
  padding: 0px 2rem;
  text-align: justify;

}

.faq-accordian-jawaban::before {
  margin: 0 2rem;
  content: "";
  position: absolute;
  width: .3rem;
  height: 90%;
  background-color: #f57f17;
  top: 30%;
  left: 0;
  transform: translateY(-50%);

}

.faq-accordian-jawaban p {
  font-size: 20px;
  color: #f57f17;
  padding-bottom: 2rem;
  margin: 10px 10px;


}

.faq-accordian-item:target .faq-accordian-jawaban {
  max-height: 10rem;

}



/* Style Bagian 5 */


/* css untuk tampilan tablet */
@media screen and (max-width: 768px) {
    .container {
        width: 720px;
    }
    /* Bagian 4 */
    .judul-testimoni {
      max-width: 90%;
      display: contents;
    }
    .testimoni {
     max-width:90%; 
     display: contents;
    }
    .testi-lain {
      margin:0 240px;
      text-align: center;
      display: grid;
    }
    .judul-faq {
      max-width: 90%;
      display: contents;
    }
    .faq {
     max-width: 90%;
     display: contents; 
    }
    .faq-accordian-item:target .faq-accordian-jawaban {
      max-height: 100%;
    }
    .faq-accordian-jawaban::before {
      height: 100%;
    }
}

/* css untuk tampilan mobile */
@media screen and (max-width: 576px) {
    .container {
        width: 540px;
    }
    /* Bagian 4 */
    .judul-testimoni {
      max-width: 90%;
      display: contents;
    }

    .testimoni {
      max-width: 90%;
      display: block;
    }

    .testi-lain {
      margin:0 160px;
      text-align: center;
      display: grid;
    }
    .judul-faq {
      max-width: 90%;
      display: contents;
    }
    .faq {
     max-width: 90%;
     display: contents; 
    }
    .faq-accordian-item:target .faq-accordian-jawaban {
      max-height: 100%;
    }
    .faq-accordian-jawaban::before {
      height: 100%;
    }
}


}